<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z1" opened="true" mode="side">

      <mat-accordion class="example-headers-align" displayMode="flat">
        <mat-expansion-panel routerLink="./dashboard" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title><b>Dashboard</b></mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><b>Orders</b></mat-panel-title>
          </mat-expansion-panel-header>
      
          <mat-list role="list">
            <mat-list-item role="listitem">
              <!-- <mat-icon aria-hidden="false" aria-label="Request">reorder</mat-icon> -->
              <a routerLink="./request-supplies"><span class="pad-icon">Request Supplies</span></a>
            </mat-list-item>
            <mat-list-item role="listitem">
              <a routerLink="./receive-supplies"><span class="pad-icon">Receive Supplies</span></a>
            </mat-list-item>
          </mat-list>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><b>Inventory</b></mat-panel-title>
          </mat-expansion-panel-header>
      
          <mat-list role="list">
            <mat-list-item role="listitem">
              <a routerLink="./inventory"><span class="pad-icon">Inventory</span></a>
            </mat-list-item>
          </mat-list>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><b>Reports</b></mat-panel-title>
          </mat-expansion-panel-header>
      
          <mat-list role="list">
            <mat-list-item role="listitem">
              <a routerLink="./inventory"><span class="pad-icon">Report One</span></a>
            </mat-list-item>
          </mat-list>
    
        </mat-expansion-panel>
      </mat-accordion>
      
    </mat-sidenav>
  
    <div class="app-sidenav-content">
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </mat-sidenav-container>