<mat-card>
  <h1>Repair Job Details</h1>
</mat-card>
<br>
<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Hello World
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Scoring</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="33"><b>Name</b><br>Tommmy</div>
      <div fxFlex="33"><b>Age</b><br>32</div>
      <div fxFlex="33"><b>Score</b><br>89</div>
    </div>
  </mat-card-content>
</mat-card>
